In [1]:
import pandas as pd


FOLDER_PATH = './Data/'

In [2]:
bussiness_data = pd.read_csv(FOLDER_PATH+'business.csv')
clean_data = pd.read_csv(FOLDER_PATH+'Clean_Dataset.csv')
economy_data = pd.read_csv(FOLDER_PATH+'economy.csv')

### i will work with Clead Data 

#### *1. Selecting Airline
#### *2. Selecting Source City and Destination City
#### *3. Selecting Flight Class 
#### *4. Number of Stops

In [3]:
clean_data.head(3)

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956

In [14]:
clean_data['class'].unique()

array(['Economy', 'Business'], dtype=object)

In [5]:
clean_data.drop(columns=['Unnamed: 0'], inplace=True)

In [13]:
clean_data.loc[(clean_data['stops'] == 'zero') & 
               (clean_data['source_city'] == 'Delhi') & 
               (clean_data["destination_city"] == 'Mumbai') &
               (clean_data["airline"] == 'Vistara') & 
               (clean_data["class"] == 'Economy') ]

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
5,Vistara,UK-945,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.33,1,5955
6,Vistara,UK-927,Delhi,Morning,zero,Morning,Mumbai,Economy,2.08,1,6060
7,Vistara,UK-951,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.17,1,6060
...,...,...,...,...,...,...,...,...,...,...,...
9837,Vistara,UK-943,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.25,49,3100
9838,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,49,3100
9839,Vistara,UK-941,Delhi,Evening,zero,Evening,Mumbai,Economy,2.33,49,3100
9840,Vistara,UK-955,Delhi,Evening,zero,Night,Mumbai,Economy,2.33,49,3100
9841,Vistara,UK-977,Delhi,Evening,zero,Night,Mumbai,Economy,2.33,49,3100