In [7]:
import pandas as pd


FOLDER_PATH = './Data/'

In [8]:
bussiness_data = pd.read_csv(FOLDER_PATH+'business.csv')
clean_data = pd.read_csv(FOLDER_PATH+'Clean_Dataset.csv')
economy_data = pd.read_csv(FOLDER_PATH+'economy.csv')

### i will work with Clead Data 

#### *1. Selecting Airline
#### *2. Selecting Source City and Destination City
#### *3. Selecting Flight Class 
#### *4. Number of Stops

In [10]:
clean_data.head(3)

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956

In [17]:
clean_data['stops'].unique()

array(['zero', 'one', 'two_or_more'], dtype=object)