In [20]:
import pandas as pd
import seaborn as sns


FOLDER_PATH = './Data/'

In [42]:
data = pd.read_csv(FOLDER_PATH+'Clean_Dataset.csv')

In [43]:
data.head(3)

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956

In [44]:
data.drop(columns=['Unnamed: 0'], inplace=True)

In [46]:
filtered_data = data.loc[(data['stops'] == 'zero') & 
               (data['source_city'] == 'Delhi') & 
               (data["destination_city"] == 'Mumbai') &
               (data["class"] == 'Economy') ].copy()

In [48]:
filtered_data.head()

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [56]:
unique_airlines = pd.unique(filtered_data['airline'])

stat_dict = {}
for single_airline in unique_airlines:
    stat_dict[single_airline] = {'mean' : round(filtered_data.loc[filtered_data['airline'] == single_airline]['price'].mean(),2),
                                 'mode' : round(filtered_data.loc[filtered_data['airline'] == single_airline]['price'].mode()[0],2),
                                 'median': round(filtered_data.loc[filtered_data['airline'] == single_airline]['price'].median(),2)
                                                 }

In [70]:
conditional_dict = {}

for airliner in stat_dict:

    if stat_dict[airliner]['mean'] > stat_dict[airliner]['median']:
        conditional_dict[airliner] = (stat_dict[airliner]['median'], stat_dict[airliner]['mean'] )

    elif  stat_dict[airliner]['mean'] < stat_dict[airliner]['median']:
        conditional_dict[airliner] = (stat_dict[airliner]['mean'], stat_dict[airliner]['median'] )

    else:
        conditional_dict[airliner] = (stat_dict[airliner]['mode'], stat_dict[airliner]['median'] )

In [63]:
for airliner in stat_dict:

    print(stat_dict[airliner]['mean'])

3830.8
3396.24
3736.71
3177.84
3628.14
3446.44

In [71]:
conditional_dict

{'SpiceJet': (2621.0, 3830.8),
 'AirAsia': (2410.0, 3396.24),
 'Vistara': (3100.0, 3736.71),
 'GO_FIRST': (2410.0, 3177.84),
 'Indigo': (3001.0, 3628.14),
 'Air_India': (2476.0, 3446.44)}